<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Geotify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B61B3AD1DBDDC2D00074CAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B61B3C11DBDDC2D00074CAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B61B3CC1DBDDC2D00074CAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
